[package]
name = "server"
version = "0.1.0"
edition = "2024"

[dependencies]
actix-web = "4.12.1"
actix-ws = "0.3.0"
dotenv = "0.15.0"
futures-util = "0.3.31"
rand = "0.9.2"
serde = "1.0.228"
serde_json = "1.0.145"
tokio = "1.48.0"

[dependencies.mongodb]
version = "3.4.1"
